.container {
    position: relative;
    background-color: lightblue;
    height: 10%;
    margin-top: -20px;
}

.navbar {
    margin-left: 65%;
    margin-top: 1.5%;
    display: flex;
    gap: 20px;
    background-color: lightblue;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: grey;
}

