.userprofile {
    
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    gap: 50px;
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    height: 200px;
}

.profile-image {
    width: 200px;
}

.subtitle {
    position: absolute;
    margin-top: 75px;
    margin-left: 275px;
}

.smalltext {
    position: absolute;
    margin-top: 125px;
    margin-left: 300px;
}